root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
body {
  background-color: white;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 72px;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 96px;
  left: 0px;
  top: 0px;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 780px;
  height: 40px;
  left: 72px;
  top: 31px;
}
.logotipo {
  position: static;
  width: 50px;
  height: 24px;
  left: 0px;
  top: 5px;
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fffffe;
}
.nav-list {
  display: flex;
  font-size: 2rem;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.3rem;
}
a {
  text-decoration: none;
  color: white;
}
.button-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  position: static;
  width: 206px;
  height: 48px;
  left: 0px;
  top: 0px;
  margin-right: 2rem;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 206px;
  height: 48px;
  left: 1088px;
  top: 24px;
  color: white;
  background: #ff8906;
}
@media (max-width: 28.75em) {
  .nav-list,
  #navbar {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 184px;
  }
  .btn {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 184px;
  }
}
.welcome-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px 72px;
  position: absolute;
  width: 100%;
  height: 622px;
  left: 0px;
  top: 96px;
  background-color: black;
}
.data-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 703px;
  height: 424px;
  left: 72px;
  top: 80px;
}
.data {
  position: static;
  width: 703px;
  height: 160px;
  left: 0px;
  top: 0px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.01em;
  color: #fffffe;
}
.data-p {
  position: static;
  width: 650px;
  height: 80px;
  left: 0px;
  top: 0px;
  margin-top: 2rem;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #a7a9be;
}
.image {
  width: 380px;
  height: 432px;

  top: 80px;
  background: url("https://res.cloudinary.com/cardonagarciadavid11/image/upload/v1630790142/img_cdz7w2.jpg");
}
.parrafo {
  position: absolute;
  width: 519px;
  height: 112px;
  left: 72px;
  top: 802px;

  /* Headline 2 */

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  letter-spacing: -0.005em;

  /* background */

  color: #0f0e17;
}

.article {
  position: absolute;
  width: 495px;
  height: 120px;
  left: 695px;
  top: 798px;

  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;

  color: #0f0e17;
}
.icon {
  background: url("https://res.cloudinary.com/cardonagarciadavid11/image/upload/v1630790350/arrow-down_dkrk3m.png");
  position: static;
  width: 56px;
  height: 56px;
  left: 0px;
  top: 368px;
  margin-top: 8rem;
  cursor: pointer;
}
.section-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 100%;
  height: 1380px;
  left: 72px;
  top: 994px;
}
.projects {
  position: static;
  width: 1222px;
  height: 1100px;
  left: 0px;
  top: 0px;
}
.img-project {
  position: absolute;
  width: 1100px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}
.card-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px 24px;
  position: absolute;
  width: 450px;
  height: 300px;
  margin-left: -5rem;
  margin-top: 10rem;
  background: #0f0e17;
  box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.25);
}
.p-card {
  position: static;
  width: 400px;
  height: 70px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;

  color: #a7a9be;
}
.btns-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 359px;
  height: 48px;
  left: 24px;
  top: 316px;
}
.btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  cursor: pointer;
  position: static;
  width: 215px;
  height: 48px;
  left: 0px;
  top: 0px;
  margin-top: 3rem;
  background: #ff8906;
}
.btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 3rem;
  margin-left: 2rem;
  cursor: pointer;
  position: static;
  width: 128px;
  height: 48px;
  left: 231px;
  top: 0px;
  background-color: black;
  color: #ff8906;
  border: 2px solid #ff8906;
  box-sizing: border-box;
}

.card-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 100%;
  height: 464px;
  left: 0px;
  top: 596px;
}
.project-2 {
  position: static;
  width: 599px;
  height: 464px;
  left: 0px;
  top: 596px;
}
.img-2 {
  position: absolute;
  left: 4.01%;
  right: 0%;
  bottom: 0%;
  width: 700px;
  height: 500px;
  border: 1px solid #000000;
  box-sizing: border-box;
  top: 660px;
}
.card-project2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px 24px;
  position: absolute;
  height: 350px;
  width: 600px;
  top: 730px;
  left: 100px;
  margin-left: -9rem;
  background: #0f0e17;
  box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.25);
}
.p-card2 {
  position: static;
  width: 463px;
  height: 80px;
  left: 0px;
  top: 42px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #a7a9be;
}
.card-3 {
  position: static;
  width: 100%;
  height: 500px;
  top: 0px;
  right: 700px;
}
.img-3 {
  position: absolute;
  right: 15rem;
  width: 700px;
  height: 500px;
  border: 1px solid #000000;
  box-sizing: border-box;
  top: 660px;
}
.card-project3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px 24px;
  position: absolute;
  height: 350px;
  width: 600px;
  top: 730px;
  right: 300px;
  margin-left: -5rem;
  background: #0f0e17;
  box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.25);
}
.p-card3 {
  position: static;
  width: 500px;
  height: 80px;
  left: 0px;
  top: 32px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #a7a9be;
}
.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  position: static;
  width: 297px;
  height: 64px;
  left: 462.5px;
  top: 1316px;
  cursor: pointer;
  border: 2px solid #0f0e17;
  box-sizing: border-box;
  margin: auto;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 72px;
  position: absolute;
  width: 100%;
  height: 632px;
  left: 0px;
  top: 2354px;
  background: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
}
.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1222px;
  height: 472px;
  left: 72px;
  top: 80px;
}
.title-service {
  position: static;
  width: 199px;
  height: 56px;
  left: 0px;
  top: 0px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.005em;
  color: #0f0e17;
}
.conteiner-service {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1222px;
  height: 368px;
  left: 0px;
  top: 104px;
}
.columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 100%;
  height: 368px;
  left: 0px;
  top: 0px;
}
.colum-p {
  position: static;
  width: 391px;
  height: 40px;
  left: 0px;
  top: 256px;
  margin-top: 3rem;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 70px;
  color: #0f0e17;
}
.diseño {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 1rem;
  position: static;
  width: 250px;
  height: 50px;
  left: 0px;
  top: 320px;
  color: #ff8906;
  background: #0f0e17;
}
.colums-2 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 392px;
height: 304px;
left: 415px;
margin-left: 100rem;
margin-top: 40rem;
top: 0px;
}

.testimonios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 72px;
  position: absolute;
  width: 100%;
  height: 840px;
  left: 0px;
  top: 2986px;
  background: #0f0e17;
}
.t-testimonios{
  position: static;
width: 1222px;
height: 56px;
left: 72px;
top: 80px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.005em;
color: #FFFFFE;
}
.testimonios-1{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: static;
width: 1522px;
height: 264px;
left: 72px;
top: 184px;
}
.comentario{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 394px;
height: 264px;
left: 0px;
top: 0px;
}
.name-comen{
  position: static;
width: 335.33px;
height: 32px;
left: 56px;
top: 8px;
font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 32px;
color: #F25F4C;
margin-top: 2rem;
}
.p-comen{
position: static;
width: 391.33px;
height: 200px;
left: 0px;
top: 64px;
margin-top: 2rem;
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 40px;
color: #FFFFFE;

}
.comentario-2{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 391.33px;
height: 264px;
left: 500.33px;
margin-left:10rem;
top: 0px;
}
.comentario-3{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 391.33px;
height: 264px;
left: 830.67px;
top: 0px;
margin-left:10rem;
}
.testimonios-2{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: static;
width: 1522px;
height: 264px;
left: 72px;
top: 496px;
margin-top:2rem;
}

.image-fond {
  position: absolute;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 3726px;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 72px;
  position: absolute;
  width: 100%;
  height: 893px;
  left: 0px;
  top: 4426px;
  background: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
}
.card-formu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 48px;
  position: static;
  width: 546px;
  height: 733px;
  left: 410px;
  top: 80px;
  background: #0f0e17;
}
.card-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 450px;
  height: 637px;
  left: 48px;
  top: 48px;
}
.input-title {
  position: static;
  width: 450px;
  height: 56px;
  left: 0px;
  top: 0px;
}
.t-input {
  position: static;
  width: 450px;
  height: 56px;
  left: 0px;
  top: 0px;
  z-index: -5rem;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.005em;
  color: #fffffe;
}
.p-input {
  position: static;
  width: 450px;
  height: 96px;
  left: 0px;
  top: 72px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #a7a9be;
  margin-top: 2rem;
}
.input-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 10px 12px 16px;
  position: static;
  width: 450px;
  height: 64px;
  left: 0px;
  top: 32px;
  background: #fffffe;
}
.input-email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 10px 12px 16px;
  position: static;
  width: 450px;
  height: 63px;
  left: 0px;
  top: 112px;
  margin-top: 2rem;
  background: #fffffe;
}
.input-textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 10px 12px 16px;
  position: static;
  width: 450px;
  height: 181px;
  left: 0px;
  top: 302px;
  margin-top: 2rem;
  background: #fffffe;
}
.input {
  position: static;
  width: 100%;
  height: 40px;
  left: 16px;
  top: 12px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #0f0e17;
  opacity: 0.5;
}
.input-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  position: static;
  width: 450px;
  height: 64px;
  left: 0px;
  top: 389px;
  margin-top: 3rem;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fffffe;
  background: #ff8906;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 48px 72px;
  position: absolute;
  width: 100%;
  height: 145px;
  left: 0px;
  top: 5319px;
  background: #0f0e17;
}
.logo-footer {
  position: static;
  width: 83px;
  height: 49px;
  left: 72px;
  top: 48px;
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fffffe;
}
.p-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  position: static;
  width: 695px;
  height: 32px;
  left: 305px;
  top: 56.5px;
  
}
.pa{
  position: static;
width: 100%;
height: 32px;
left: 132px;
top: 0px;
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #FFFFFE;

}
.social-footer{
  display: flex;
flex-direction: row;
align-items: flex-start;
justify-content:space-between;
padding: 0px;

position: static;
width: 144px;
height: 42px;
left: 1150px;
top: 56.5px;
}
.git, .insta, .twi {
  position: static;
width: 32px;
height: 32px;
left: 2px;
top: 0px;
font-size:30px;
line-height:20px;
}
